@media (min-width:992px){
  .modal-lg {width:940px !important;}
}

body{
  padding-top: 70px;
}

img.i {
  display: block;
  margin: 10px auto;
}

img.img-zoom{
  cursor: pointer;
}

div.service-alert{
  margin-top: 10px;
}

img#zoom_image{
  margin-bottom: 15px;
}

.link-domain {
	font-size: 1.4em;
	color: #660066;
}
.link-host {
	font-size: 1.1em;
	color: #800080;
}
ul.groupview, ul.groupview ul {
	list-style-type: none;
}
.munin-icon {
   background: url(../img/logo-munin.png) left top;
   margin-top: -6px;
   width: 35px;
   height: 35px;
   display: block;
   float: left;
}

img {
    border: 2px solid transparent;
}

img.warn {
    border: 2px solid #8a6d3b;
}

img.crit {
    border: 2px solid #a94442;
}

img.unkn {
    border: 2px solid #ffaa00;
}

.text-critical {
    color: #a94442
}

.text-critical:hover {
    color: #843534
}
