<TMPL_INCLUDE NAME="partial/head.tmpl" />

<!--
	File: munin-categoryview.tmpl

	Used: Category level template
-->
<TMPL_IF NAME="TIMEDAY"><!-- DAY! --></TMPL_IF>
<TMPL_LOOP NAME="SERVICES">
	<div class="card mb-3">
		<div class="card-header">
			<TMPL_VAR ESCAPE="HTML" NAME="NAME">
		</div>
		<div class="card-body row">
			<TMPL_LOOP NAME="GRAPHS">
				<div class="col-md-6 mb-3">
					<div class="text-left pl-2">
						&#9727;
						<TMPL_LOOP NAME="PATH">
							<TMPL_IF NAME="PATHNAME">
								<TMPL_IF NAME="PATH">
									<TMPL_VAR NAME="PATHNAME"><br /><span class="hangindent<TMPL_VAR NAME='__counter__' />">&#9727;</span>
								</TMPL_IF>
							</TMPL_IF>
						</TMPL_LOOP>
						<TMPL_IF NAME="URLX">
							<a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF>
							<TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME='URLX' />">
						</TMPL_IF>
						<TMPL_VAR ESCAPE="HTML" NAME="LABEL" />
						<TMPL_IF NAME="URLX"></a></TMPL_IF>
					</div>
					<TMPL_IF NAME="URLX">
						<a href="<TMPL_VAR NAME='URLX' />">
					</TMPL_IF>

						<TMPL_IF NAME="TIMEDAY">
							<img data-src="<TMPL_VAR NAME='CIMGDAY' />" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL' />" class="lazyload img-fluid card-img-top i<TMPL_IF NAME='STATE_WARNING'> warn</TMPL_IF><TMPL_IF NAME='STATE_CRITICAL'> crit</TMPL_IF>"
								<TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME='IMGDAYWIDTH' />" </TMPL_IF>
								<TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME='IMGDAYHEIGHT' />"</TMPL_IF>/>
						</TMPL_IF>
						<TMPL_IF NAME="TIMEWEEK">
							<img data-src="<TMPL_VAR NAME='CIMGWEEK'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL' />" class="lazyload img-fluid card-img-top i<TMPL_IF NAME='STATE_WARNING'> warn</TMPL_IF><TMPL_IF NAME='STATE_CRITICAL'> crit</TMPL_IF>"
								<TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME='IMGWEEKWIDTH' />" </TMPL_IF>
								<TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME='IMGWEEKHEIGHT' />"</TMPL_IF>/>
						</TMPL_IF>
						<TMPL_IF NAME="TIMEMONTH">
							<img data-src="<TMPL_VAR NAME='CIMGMONTH'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL' />" class="lazyload img-fluid card-img-top i<TMPL_IF NAME='STATE_WARNING'> warn</TMPL_IF><TMPL_IF NAME='STATE_CRITICAL'> crit</TMPL_IF>"
								<TMPL_IF NAME="IMGMONTHWIDTH">width="<TMPL_VAR NAME='IMGMONTHWIDTH' />" </TMPL_IF>
								<TMPL_IF NAME="IMGMONTHHEIGHT">height="<TMPL_VAR NAME='IMGMONTHHEIGHT' />"</TMPL_IF>/>
						</TMPL_IF>
						<TMPL_IF NAME="TIMEYEAR">
							<img data-src="<TMPL_VAR NAME='CIMGYEAR'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL' />" class="lazyload img-fluid card-img-top i<TMPL_IF NAME='STATE_WARNING'> warn</TMPL_IF><TMPL_IF NAME='STATE_CRITICAL'> crit</TMPL_IF>"
								<TMPL_IF NAME="IMGYEARWIDTH">width="<TMPL_VAR NAME='IMGYEARWIDTH' />" </TMPL_IF>
								<TMPL_IF NAME="IMGYEARHEIGHT">height="<TMPL_VAR NAME='IMGYEARHEIGHT' />"</TMPL_IF>/>
						</TMPL_IF>

					<TMPL_IF NAME="URLX"></a></TMPL_IF>
					
				</div>
			</TMPL_LOOP>
		</div>
	</div>
</TMPL_LOOP>

<TMPL_INCLUDE NAME="partial/footer_pre.tmpl" />
<TMPL_INCLUDE NAME="partial/footer.tmpl" />
