<TMPL_INCLUDE NAME="partial/head.tmpl" />

<!--
	File: munin-comparison-day.tmpl

	Used: top level comparison template.
-->

<TMPL_LOOP NAME="CATEGORIES">
	<div class="card mb-3">
		<div class="dropdown-toggle card-header" id="<TMPL_VAR ESCAPE='HTML' NAME='GROUPNAME' />" data-toggle="collapse" href="#<TMPL_VAR ESCAPE='HTML' NAME='GROUPNAME' />_coll">
			Category :: <TMPL_VAR ESCAPE="HTML" NAME="GROUPNAME" />
		</div>
		<ul id="<TMPL_VAR ESCAPE='HTML' NAME='GROUPNAME' />_coll" class="card-collapse collapse list-group list-group-flush">
			<TMPL_LOOP NAME="SERVICES">
				<li class="list-group-item">
					<div class="row">
						<TMPL_LOOP NAME="NODES">
							<TMPL_IF NAME="CIMGDAY">
								<div class="col-md-6">
									<a href="<TMPL_VAR ESCAPE='URL' NAME='NODENAME'>/index.html"><TMPL_VAR ESCAPE="HTML" NAME="NODENAME" /></a>
									&gt;
									<TMPL_IF NAME="URL1"><a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF>
										<TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME='R_PATH' />/<TMPL_VAR NAME='URL' />">
									</TMPL_IF>
										<TMPL_VAR ESCAPE="HTML" NAME="LABEL" />
									<TMPL_IF NAME="URL1"></a></TMPL_IF>
									<br/>
									<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_VAR NAME='URL' />">
										<img src="<TMPL_VAR NAME='CIMGDAY' />" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL' />"
											class="img-fluid i<TMPL_IF NAME='STATE_WARNING'> warn</TMPL_IF><TMPL_IF NAME='STATE_CRITICAL'> crit</TMPL_IF>"
											<TMPL_IF NAME='IMGDAYWIDTH'>width="<TMPL_VAR NAME='IMGDAYWIDTH' />" </TMPL_IF> 
											<TMPL_IF NAME='IMGDAYHEIGHT'>height="<TMPL_VAR NAME='IMGDAYHEIGHT' />"</TMPL_IF>/>
									</a>
								</div>
							</TMPL_IF>
						</TMPL_LOOP> <!-- END NODE PER SERVICE PER CATEGORY -->
					</div>
				</li>
			</TMPL_LOOP> <!-- END SERVICE PER CATEGORY -->
		</ul>
	</div>
</TMPL_LOOP> <!-- END CATEGORY -->

<TMPL_INCLUDE NAME="partial/footer_pre.tmpl" />
<TMPL_INCLUDE NAME="partial/footer.tmpl" />
