<TMPL_INCLUDE NAME="partial/head.tmpl" />

<!--
	File: munin-overview.tmpl

	Used: "Home" page level
-->

<!-- Alerts -->
<TMPL_IF NAME="NUNKNOWN">
	<div class="alert alert-info">There are <a class="alert-link" href="<TMPL_VAR NAME="R_PATH">/problems.html#unknowns"><TMPL_VAR NAME="NUNKNOWN"> unknown problems</a></div>
</TMPL_IF>
<TMPL_IF NAME="NCRITICAL">
	<div class="alert alert-danger">There are <a class="alert-link" href="<TMPL_VAR NAME="R_PATH">/problems.html#critical"> <TMPL_VAR NAME="STATE_CRITICAL"> critical problems</a></div>
</TMPL_IF>
<TMPL_IF NAME="NWARNING">
	<div class="alert alert-warning">There are <a class="alert-link" href="<TMPL_VAR NAME="R_PATH">/problems.html#warnings"><TMPL_VAR NAME="NWARNING"> warnings</a></div>
</TMPL_IF>

<TMPL_LOOP NAME="GROUPS">
<TMPL_UNLESS NAME="MULTIGRAPH">
	<div class="card mb-3">
		<div class="card-header">
			&#128188; <a href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
			<TMPL_IF NAME="COMPARE"><div class="float-right pr-3 cat-list"><small>
				<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a> 
				<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a> 
				<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a> 
				<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
			</small></div></TMPL_IF>
		</div>
		<div class="card-list-here">
			<ul class="list-group list-group-flush">

				<TMPL_IF NAME="NCATEGORIES">
					<li class="list-group-item pl-5">
						<TMPL_VAR ESCAPE="HTML" NAME="NAME" /><div class="float-right pr-3 cat-list"><small>
						<TMPL_LOOP NAME="CATEGORIES">
							<a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
						</TMPL_LOOP></small></div>
					</li>
				</TMPL_IF>

				<TMPL_LOOP NAME="GROUPS">
				<TMPL_UNLESS NAME="MULTIGRAPH">
					<li class="list-group-item pl-5">
						&#128421; <a href="<TMPL_VAR NAME='URL' />" class="link-host"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>

						<TMPL_IF NAME="COMPARE"><div class="float-right pr-3 cat-list"><small>
							<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a> 
							<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a> 
							<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a> 
							<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
						</small></div></TMPL_IF>
						
						<TMPL_IF NAME="NCATEGORIES"><div class="float-right cat-list pr-3"><small>
							<TMPL_LOOP NAME="CATEGORIES">
								<a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a> 
							</TMPL_LOOP>
						</small></div></TMPL_IF>

						<ul>
							<!-- A/N: AGAIN, DUNNO WHAT (WHEN) THIS DOES  - LEVEL 2 OF GROUPS -->
							<TMPL_LOOP NAME="GROUPS">
							<TMPL_UNLESS NAME="MULTIGRAPH">
								<li>
									<a href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>

									<TMPL_IF NAME="COMPARE"><div class="float-right cat-list pr-3"><small>
										<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a> 
										<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a> 
										<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a> 
										<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
									</small></div></TMPL_IF>

									<TMPL_IF NAME="NCATEGORIES"><div class="float-right cat-list pr-3"><small>
										<TMPL_LOOP NAME="CATEGORIES">
											<a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a> 
										</TMPL_LOOP>
									</small></div></TMPL_IF>

									<ul>
										<!-- A/N: YEAH, EVEN MORE NO CLUE WHEN - LEVEL 3 OF GROUPS -->
										<TMPL_LOOP NAME="GROUPS">
										<TMPL_UNLESS NAME="MULTIGRAPH">
											<li>
												<a href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>

												<TMPL_IF NAME="COMPARE"><div class="float-right cat-list pr-3"><small>
													<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a> 
													<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a> 
													<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a> 
													<a href="<TMPL_VAR NAME='R_PATH' />/<TMPL_LOOP NAME='PATH' /><TMPL_IF NAME='pathname'><TMPL_VAR ESCAPE='URL' NAME='PATHNAME' />/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
												</small></div></TMPL_IF>

												<TMPL_IF NAME="NCATEGORIES"><div class="float-right cat-list pr-3"><small>
													<TMPL_LOOP NAME="CATEGORIES">
														<a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-critical"</TMPL_IF> href="<TMPL_VAR NAME='URL' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
													</TMPL_LOOP>
												</small></div></TMPL_IF>
											</li>
										</TMPL_UNLESS>
										</TMPL_LOOP>
										<!-- END LEVEL 3 OF GROUPS -->
									</ul>

								</li>
							</TMPL_UNLESS>
							</TMPL_LOOP>
							<!-- END LEVEL 2 OF GROUPS -->
						</ul>	
					</li>	
				</TMPL_UNLESS>
				</TMPL_LOOP>
				<!-- END LEVEL 1 OF GROUPS -->
			</ul> <!-- .list-group END -->
		</div>    <!-- .card-body end -->
	</div>        <!-- .card end -->

</TMPL_UNLESS>
</TMPL_LOOP>

<div class="contentpusher"></div>

<TMPL_INCLUDE NAME="partial/footer_pre.tmpl" />
<TMPL_INCLUDE NAME="partial/footer.tmpl" />
