<TMPL_INCLUDE NAME="partial/head.tmpl" />

<!--
	File: munin-domainview.tmpl

	Used: Host Group top level template
-->

<script>
	$( document ).ready( function() {
		$( ".custom-collapse" ).on( "click", function() {
			$( this ).parent().find( ".collapse" ).collapse( "toggle" );
			return false;
		} );
		$( ".custom-collapse-all" ).on( "click", function() {
			if ( $( this ).hasClass( "all-hide" ) ) {
				$( this ).parent().parent().find( ".collapse" ).collapse( "hide" );
			} else {
				$( this ).parent().parent().find( ".collapse" ).collapse( "show" );
			}
			return false;
		} );
	} );
</script>

<div class="btn-group w-100 mb-3">
	<a href="#" class="custom-collapse-all btn btn-sm btn-outline-secondary all-show">&#9654; Show All</a>
	<a href="#" class="custom-collapse-all btn btn-sm btn-outline-secondary all-hide">&#9660; Hide All</a>
</div>
<TMPL_LOOP NAME="GROUPS">
<div class="card mb-3">
	<div class="card-header">
		<!-- NAME - FIRST LEVEL -->
		<a href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
		<a href="#" class="custom-collapse-all float-right all-hide">&#9660; Hide All</a>
		<a href="#" class="custom-collapse-all float-right all-show">&#9654; Show All</a>
	</div>
	<div class="card-body">
		<ul class="list-unstyled">
			<!-- CATEGORY LOOP - FIRST LEVEL -->
			<TMPL_IF NAME="NCATEGORIES">
				<TMPL_LOOP NAME="CATEGORIES">
					<li class="mb-2">
						<a href="#" class="custom-collapse">&#9654;&#9660;</a>
						<a href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
						<ul class="collapse show ml-4">
							<TMPL_LOOP NAME="SERVICES">
								<li><a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-danger"</TMPL_IF> href="<TMPL_VAR NAME='URLX'>"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a></li>
							</TMPL_LOOP>
						</ul>
					</li>
				</TMPL_LOOP>
			</TMPL_IF>

			<TMPL_IF NAME="NGROUPS">
				<!-- GROUPS ARE HERE - POPULAR EXAMPLE, MULTIGRAPH -->
				<TMPL_LOOP NAME="GROUPS">
					<li class="mb-2">
						<a href="#" class="custom-collapse">&#9654;&#9660;</a>
						<a href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
						<ul class="collapse show ml-4">
							<TMPL_IF NAME="NCATEGORIES">
								<TMPL_LOOP NAME="CATEGORIES">
									<li>
										<a href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
										<ul>
											<TMPL_LOOP NAME="SERVICES">
												<li><a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-danger"</TMPL_IF> href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a></li>
											</TMPL_LOOP> 
										</ul>
									</li>
								</TMPL_LOOP>
							</TMPL_IF>
							<TMPL_IF NAME="NGROUPS">
								<!-- A/N: I DON'T KNOW WHEN THESE ARE USED - PLEASE SEND A SCREENCAP -->
								<TMPL_LOOP NAME="GROUPS">
										<li>
											<a href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
											<ul>
												<TMPL_IF NAME="NCATEGORIES">
													<TMPL_LOOP NAME="CATEGORIES">
														<li>
															<a href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a>
															<ul>
																<TMPL_LOOP NAME="SERVICES">
																	<li><a <TMPL_IF NAME="STATE_WARNING">class="text-warning"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="text-danger"</TMPL_IF> href="<TMPL_VAR NAME='URLX' />"><TMPL_VAR ESCAPE="HTML" NAME="NAME" /></a></li>
																</TMPL_LOOP><!-- END SERVICES -->
															</ul>
														</li>
													</TMPL_LOOP><!-- END CATEGORIES -->
												</TMPL_IF>
											<TMPL_IF NAME="NGROUPS">
											</TMPL_IF>
											</ul>
										</li>
								</TMPL_LOOP><!-- END GROUPS Listing level 3 -->
							</TMPL_IF><!-- END NGROUPS level 3 -->
						</ul>
					</li>
				</TMPL_LOOP><!-- END GROUPS Listing level 2 -->
			</TMPL_IF><!-- END NGROUPS level 2 -->
		</ul>
	</div>
</div>
</TMPL_LOOP> <!-- List Level 1 -->


<div class="contentpusher"></div>


<TMPL_INCLUDE NAME="partial/footer_pre.tmpl" />
<TMPL_INCLUDE NAME="partial/footer.tmpl" />
