[submodule "plugins/nginx/nginx_upstream_multi_"]
	path = plugins/nginx/nginx_upstream_multi_
	url = git://github.com/iborodikhin/munin-plugin-nginx-upstream-multi.git
[submodule "plugins/nginx/nginx_upstream_multi"]
	path = plugins/nginx/nginx_upstream_multi
	url = git://github.com/iborodikhin/munin-plugin-nginx-upstream-multi.git
