---
dist: bionic
addons:
  apt:
    packages:
      - devscripts
      - python
      - python3
      - ruby
      - php5-cli
      - gawk
      - ksh
      - zsh
      - pylint
      - shellcheck
      - pkg-config
      - libdb-dev
      - libvirt-dev
      - libexpat-dev

      # Munin/Plugin.pm is in "munin-node" on precise
      - munin-node

      # Modules used by test script
      - libsys-virt-perl
      - libcapture-tiny-perl

      # Modules used by plugins
      - libberkeleydb-perl
      - libcache-memcached-perl
      - libgraphics-colornames-www-perl
      - libdbd-pg-perl
      - libdata-dump-perl
      - libdate-manip-perl
      - libdatetime-format-iso8601-perl
      - libdevice-serialport-perl
      - libfile-readbackwards-perl
      - libgraphics-colorobject-perl
      - libipc-run3-perl
      - libipc-sharelite-perl
      - libjson-perl
      - libjson-any-perl
      - libmail-sendmail-perl
      - libmodern-perl-perl
      - libmoosex-poe-perl
      - libnet-dns-perl
      - libnet-openssh-perl
      - libnet-snmp-perl
      - libnet-telnet-perl
      - libnet-telnet-cisco-perl
      - libpoe-perl
      - libpoe-component-irc-perl
      - libproc-processtable-perl
      - libredis-perl
      - libswitch-perl
      - libtext-iconv-perl
      - libwww-mechanize-perl
      - libwww-mechanize-treebuilder-perl
      - libyaml-perl
      - libxml-libxml-perl
      - libxml-simple-perl
      - libxml-smart-perl
      - libxml-twig-perl
      - libexperimental-perl

before_install:
  - cpanm --local-lib=~/perl5 local::lib && eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
  - cpanm --notest File::Find
  - cpanm --notest Test::More
  # more Modules used by plugins
  - cpanm --notest Asterisk::AMI
  - cpanm --notest Date::Parse
  - cpanm --notest FCGI::Client
  - cpanm --notest POE::Component::IRC
  - cpanm --notest POE::Quickie
  # Modules used bu plugins, but not compiling from CPAN
  # - cpanm --notest nvidia::ml
  # Modules used by plugins, but missing on cpan
  # - File::Tail::Multi
  # - Sun::Solaris::Kstat
  # - VMware::VIRuntime
  # - MythTV

script:
  - prove
