</div>

<TMPL_INCLUDE NAME="partial/generated_by.tmpl">

<script src="<TMPL_VAR NAME="R_PATH">/static/js/jquery.min.js"></script>
<script src="<TMPL_VAR NAME="R_PATH">/static/js/lazysizes.min.js" async=""></script>
<script src="<TMPL_VAR NAME="R_PATH">/static/js/bootstrap.min.js"></script>
<script src="<TMPL_VAR NAME="R_PATH">/static/js/munstrap.min.js"></script>
