<TMPL_IF NAME="PATH">
<ol class="breadcrumb">
  <TMPL_LOOP NAME="PATH">
	<li>
	<TMPL_IF NAME="PATHNAME"> 
	  <TMPL_IF NAME="PATH"><a href="<TMPL_VAR NAME="PATH">"></TMPL_IF>
		<TMPL_VAR NAME="PATHNAME">
	  <TMPL_IF NAME="PATH"></a></TMPL_IF>
	<TMPL_ELSE>
	  <a href="<TMPL_VAR NAME="R_PATH">">
		<span class="glyphicon glyphicon-home"></span> Home
	  </a>
	</TMPL_IF>
	</li>
  </TMPL_LOOP>
</ol>
<TMPL_ELSE>
<ol class="breadcrumb">
  <a href="<TMPL_VAR NAME="R_PATH">">
	<span class="glyphicon glyphicon-home"></span> Home
  </a>
</ol>
</TMPL_IF>

<TMPL_IF NAME="PEERS">
  <TMPL_INCLUDE NAME="bottom_navigation.tmpl">
</TMPL_IF>
