<!--
	File: partial/bottom_navigation.tmpl

	Used: Host view, when same-level peers exist. (Inside group view)
-->
<TMPL_IF NAME="LARGESET">
	<div class="btn-group text-right ml-auto mr-0 d-block">
		<button type="button" class="btn btn-outline-info w-100 dropdown-toggle" data-toggle="dropdown">
			<TMPL_VAR NAME="INFO_OPTION"> <span class="caret"></span>
		</button>
		<div class="dropdown-menu" role="menu">
			<TMPL_LOOP NAME="PEERS">
				<TMPL_IF NAME="LINK"><a class="dropdown-item" href="<TMPL_VAR NAME="LINK">"><TMPL_ELSE><a class="dropdown-item" href=""></TMPL_IF><TMPL_VAR NAME="NAME"></a>
			</TMPL_LOOP>
		</div>
	</div>
</TMPL_IF>