<!--
	File: partial/compare_navigation.tmpl

	Used: Navigation specific to compare templates.
-->

<script>
	$( document ).ready( function (){
		// Should we auto-scroll when a service category is opened?
		window.doScroll = false;
		
		$( ".tab-click" ).on( "click", function() {
			window.doScroll = true; // Do scroll when we click a tab header
			var theCollapse = $( "#" + $( this ).data( "target" ) + "_coll" );

			if ( theCollapse.hasClass( "show" ) ) {
				// Already open, lets just trigger the event.
				theCollapse.trigger( "shown.bs.collapse" );
			} else {
				// Close all, and open the one we want
				$( ".card-collapse.collapse" ).collapse("hide" );
				theCollapse.collapse( "show" );
			}
			// Do nothing with the click otherwise.
			return false;
		});

		// Actual scroll function
		$( ".collapse" ).on( "shown.bs.collapse", function( e ) {
			if ( window.doScroll ) {
				$( document ).scrollTop( $( this ).closest( ".card" ).offset().top );
				window.doScroll = false;
			}
		});
		

		// If there is only one service group, show it by default.
		if ( $( ".card-collapse.collapse" ).length < 2 ) { $( ".card-collapse.collapse" ).collapse( "show" ); }

		$( ".close-all-tabs" ).on( "click", function() { $( ".card-collapse.collapse" ).collapse( "hide" ); return false; } );
		$( ".open-all-tabs"  ).on( "click", function() { $( ".card-collapse.collapse" ).collapse( "show" ); return false; } );
	});
</script>

<nav>
	<ol class="breadcrumb mt-2 justify-content-center">
		<li class="breadcrumb-item-svc">
			<a class="open-all-tabs" href="#">Open All</a>
		</li>
		<TMPL_LOOP NAME="CATEGORIES">
			<li class="breadcrumb-item-svc">
				<a class="tab-click" data-target="<TMPL_VAR ESCAPE='HTML' NAME='GROUPNAME' />" href="#<TMPL_VAR ESCAPE='HTML' NAME='GROUPNAME'>" data-toggle="tab">
					<TMPL_VAR ESCAPE="HTML" NAME="GROUPNAME" />
				</a>
			</li>
		</TMPL_LOOP>
		<li class="breadcrumb-item-svc">
			<a class="close-all-tabs" href="#">Close All</a>
		</li>
	</ol>
</nav>