<!--
	File: partial/logo_navigation.tmpl

	Used: All views, called after from head.
-->

<TMPL_IF NAME="PATH">
	<nav aria-label="breadcrumb pt1">
		<ol class="breadcrumb">
			<TMPL_LOOP NAME="PATH">
				<li class="breadcrumb-item">
					<TMPL_IF NAME="PATHNAME">
						<TMPL_IF NAME="PATH"><a href="<TMPL_VAR NAME='PATH'>"></TMPL_IF>
						<TMPL_VAR NAME="PATHNAME">
						<TMPL_IF NAME="PATH"></a></TMPL_IF>
					<TMPL_ELSE>
						<a href="<TMPL_VAR NAME='R_PATH'>">Home</a>
						<TMPL_IF NAME="CATEGORY">
							<TMPL_IF NAME="TIMEDAY"></li><li class="breadcrumb-item">Category :: <TMPL_VAR NAME="CATEGORY" /> - by day</TMPL_IF>
							<TMPL_IF NAME="TIMEWEEK"></li><li class="breadcrumb-item">Category :: <TMPL_VAR NAME="CATEGORY" /> - by week</TMPL_IF>
							<TMPL_IF NAME="TIMEMONTH"></li><li class="breadcrumb-item">Category :: <TMPL_VAR NAME="CATEGORY" /> - by month</TMPL_IF>
							<TMPL_IF NAME="TIMEYEAR"></li><li class="breadcrumb-item">Category :: <TMPL_VAR NAME="CATEGORY" /> - by year</TMPL_IF>
						</TMPL_IF>
					</TMPL_IF>
				</li>
			</TMPL_LOOP>
			<div class="custom-control custom-switch ml-auto mr-0">
				<input type="checkbox" class="custom-control-input" id="autorefimg">
				<label class="custom-control-label" for="autorefimg">Auto-refresh Images</label>
			</div>
		</ol>
	</nav>
<TMPL_ELSE>
	<nav aria-label="breadcrumb pt2">
		<ol class="breadcrumb">
			<TMPL_IF NAME="NAME">
				<!-- 2.0.37 - Shouldn't get hit with new HTML generator -->
				<li class="breadcrumb-item"><a href="<TMPL_VAR NAME='R_PATH' />">Home</a></li>
				<li class="breadcrumb-item"><TMPL_VAR NAME="NAME" /></li>
			<TMPL_ELSE>
				<li class="breadcrumb-item">Home</li>
			</TMPL_IF>
		</ol>
	</nav>
</TMPL_IF>

<TMPL_IF NAME="PEERS">
	<TMPL_INCLUDE NAME="bottom_navigation.tmpl" />
</TMPL_IF>

<TMPL_IF NAME="COMPARISON-DAY">
	<h2 class="mb-3">Comparison: by day</h2>
	<TMPL_INCLUDE NAME="compare_navigation.tmpl" />
</TMPL_IF>

<TMPL_IF NAME="COMPARISON-WEEK">
	<h2 class="mb-3">Comparison: by week</h2>
	<TMPL_INCLUDE NAME="compare_navigation.tmpl" />
</TMPL_IF>

<TMPL_IF NAME="COMPARISON-MONTH">
	<h2 class="mb-3">Comparison: by month</h2>
	<TMPL_INCLUDE NAME="compare_navigation.tmpl" />
</TMPL_IF>

<TMPL_IF NAME="COMPARISON-YEAR">
	<h2 class="mb-3">Comparison: by year</h2>
	<TMPL_INCLUDE NAME="compare_navigation.tmpl" />
</TMPL_IF>
