<TMPL_INCLUDE NAME="partial/head.tmpl">

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist">
      <TMPL_LOOP NAME="CATEGORIES">
        <li <TMPL_IF NAME="__FIRST__"> class="active" </TMPL_IF>>
            <a href="#<TMPL_VAR ESCAPE="HTML" NAME="NAME">" data-toggle="tab">
                <TMPL_VAR ESCAPE="HTML" NAME="NAME">
            </a>
        </li>
      </TMPL_LOOP>
    </ul>

    <div id="munin_nodeview_tab" class="tab-content">
      <TMPL_LOOP NAME="CATEGORIES">
        <div class="tab-pane fade <TMPL_IF NAME="__FIRST__">in active</TMPL_IF>" id="<TMPL_VAR ESCAPE="HTML" NAME="NAME">">
          <TMPL_LOOP NAME="SERVICES">
            <div class="row">
              <div class="col-md-6">
                <a href="<TMPL_VAR NAME="URLX">">
                  <img class="lazyload img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
                   data-src="<TMPL_VAR NAME="IMGDAY">"
                   alt="<TMPL_VAR ESCAPE="HTML" NAME="NAME">" 
                   <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF>
                   <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/>
                </a>
              </div>
              <div class="col-md-6">
                <a href="<TMPL_VAR NAME="URLX">">
                  <img class="lazyload img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
                   data-src="<TMPL_VAR NAME="IMGWEEK">"
                   alt="<TMPL_VAR ESCAPE="HTML" NAME="NAME">" 
                   <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> 
                   <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/>
                </a>
              </div>
            </div>
          </TMPL_LOOP>
        </div>
      </TMPL_LOOP>
    </div>

<TMPL_INCLUDE NAME="partial/footer_pre.tmpl">
<TMPL_INCLUDE NAME="partial/footer.tmpl">
