<TMPL_INCLUDE NAME="partial/head.tmpl">

    <h2>Comparison: week</h2>
    <TMPL_LOOP NAME="CATEGORIES">
      <h3 id="<TMPL_VAR ESCAPE="HTML" NAME="GROUPNAME">"><TMPL_VAR ESCAPE="HTML" NAME="GROUPNAME"></h3>
      <TMPL_LOOP NAME="SERVICES">
        <div class="row">
          <TMPL_LOOP NAME="NODES">
            <div class="col-md-6">
              <a href="<TMPL_VAR ESCAPE="URL" NAME="NODENAME">/index.html"><TMPL_VAR ESCAPE="HTML" NAME="NODENAME"></a>
                <span class="glyphicon glyphicon-chevron-right"></span>
                  <TMPL_IF NAME="URL1"><a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF>
                    <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URL">">
                  </TMPL_IF>
                  <TMPL_VAR ESCAPE="HTML" NAME="LABEL">
                  <TMPL_IF NAME="URL1"></a></TMPL_IF>
              <TMPL_IF NAME="CIMGYEAR">
                <br/>
                <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URL">">
                  <img src="<TMPL_VAR NAME="CIMGYEAR">" alt="<TMPL_VAR ESCAPE="HTML" NAME="LABEL">"
                   class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
                   <TMPL_IF NAME="IMGYEARWIDTH">width="<TMPL_VAR NAME="IMGYEARWIDTH">" </TMPL_IF> 
                   <TMPL_IF NAME="IMGYEARHEIGHT">height="<TMPL_VAR NAME="IMGYEARHEIGHT">"</TMPL_IF>/>
                </a>
              </TMPL_IF>
            </div>
          </TMPL_LOOP>
        </div>
      </TMPL_LOOP>
    </TMPL_LOOP>

<TMPL_INCLUDE NAME="partial/footer_pre.tmpl">
<TMPL_INCLUDE NAME="partial/footer.tmpl">